<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header'); %>

<body class="text-center">
  <%- include('../partials/menu') %>

  <section name="jumbotron">
    <div class="jumbotron text-center">
      <!-- <h1>Form Ninja</h1>
      <p>Build With EJS</p> -->
    </div>
  </section>

  <%- include('../partials/form2') %> <%- include('../partials/footer') %>
  <%- include('../partials/script') %>
</body>

</html>